.header h1{
    text-align: left;
    padding: 10pt;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 25px;
}

.header h1:hover{
    color: #6bd3ca;
    cursor: pointer;
}

.header nav{
    text-align: right;
    color: white;
}

nav a{
    color: #ffffff;
}

nav a:hover{
    color: #6bd3ca;
}

.image img{
    width: 350px;
}

footer{
    text-align: right;
}

body{
    
    background: linear-gradient(#1e1e1e, #646262);
    color: #ffffff;
    background-size: 300% 300%;
}