#first-color {
    /* Add color here */
    color: red;
  }
  
  #second-color {
    /* Add color here */
    color: rgb(189, 0, 247);
  }
  
  #third-color {
    /* Add color here */
    color: #00ff00;
  }